<div class="container">
<br>
<br>

  <ul>
    <li><a href="/admin/addplayer">Add Player</a></li>
    <li><a href="/admin/addgame">Add Game</a></li>
    <li><a href="/admin/addplayertogame">Add Player to Game</a></li>
    <li><a href="/admin/addtourney">Add Tourney</a></li>
    <li><a href="/admin/calculatepoints">Calculate Points</a></li>
    <li><a href="/admin/logout">Logout</a></li>
  </ul>

</div>
