<div class="container">

  <!-- Portfolio Item Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Sask Fighting Game Tournaments Points Tracker
       <!-- <small>Item Subheading</small>-->
      </h1>
    </div>
  </div>
  <!-- /.row -->

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <img class="img-responsive" src=<%= image_url("home.jpg") %> alt="">
    </div>

    <div class="col-md-4">
      <h3>Welcome to SK Kakuge</h3>
      <p>SK Kakuge is a points tracker for tournaments in Saskatoon and greater Saskatchewan. This is not a ranking list of top players, rather it is a tool designed to try to keep players involved in the community by giving players something to strive for. Points are awarded per tournament, and are scaled relative to how long ago a respective tournament occurred.</p>
      <h3>Currently Tracked Games</h3>
      <ul>
      	<li>Street Fighter V</li>
        <li>Guilty Gear Xrd</li>
        <li>Ultra Street Fighter IV</li>
      </ul>
    </div>

  </div>
  <!-- /.row -->

  <!-- Related Projects Row -->
  <div class="row">

    <div class="col-lg-12">
      <h3 class="page-header">Games</h3>
    </div>

    <div class="col-sm-3 col-xs-6">
      <a href="/games/sf5">
        <img class="img-responsive portfolio-item" src=<%= image_url("sf5-logo.jpg") %> alt="">
      </a>
    </div>

    <div class="col-sm-3 col-xs-6">
      <a href="/games/xrd">
        <img class="img-responsive portfolio-item" src=<%= image_url("xrd-logo.jpg") %> alt="">
      </a>
    </div>

    <div class="col-sm-3 col-xs-6">
      <a href="/games/usf4">
        <img class="img-responsive portfolio-item" src=<%= image_url("usf4-logo.jpg") %> alt="">
      </a>
    </div>

    <!--
    <div class="col-sm-3 col-xs-6">
      <a href="#">
        <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
      </a>
    </div>
    -->
  </div>
  <!-- /.row -->


</div>
<!-- /.container -->