<div class="container">

  <h3>Add a Game</h3>

  <div class="page-content inset">

    <p>
    <form name="show-in" action="\admin\creategame">

      Name:          <br /><input type="text" name="name"  size="95x1" /><br />
      Long Name:     <br /><input type="text" name="longname"  size="95x1" /><br />

      <input type="submit" value="Submit">

    </form>
    </p>

  </div>


</div>
